.chatWindow {
  border: 1px solid var(--light-gray);
  height: 90vh;
  width: 100%;
  background-color: #efeae2;
  position: relative;
}
.chatWindow >div {
  height: 100%;
}
.chat-area {
  padding-inline: 40px;
  margin-bottom: 60px;
  margin-top: 60px;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.chat-header{
  position: absolute;
  height: 60px;
  background-color: var(--header-color);
  font-size: 0.9rem;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.chat-footer {
  height: 60px;
  background-color: var(--header-color);
  font-size: 0.9rem;
  width: 100%;
}

.chat-footer {
  bottom: 0;
  position: absolute;
}

.header-contact-avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.header-icon,
.footer-icon {
  font-size: 1.3rem;
  color: var(--dark-gray);
}

.chat-footer-left,
.footer-message {
  width: 100%;
}

.form,
.form-group,
.form-control {
  border: none;
  width: 100%;
  margin: auto;
}

.message-list {
  position: relative;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 100%;
}

.message {
  margin-block: 7px;
  position: relative;
  display: flex;
  width: 100%;
  
}

.userMessage {
  justify-content: end;
  
  
}

.userMessage > div {
  
  background-color: var(--message-green);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}

.myMessage > div{
  background-color: var(--message-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}

.userMessage >div, .myMessage> div {
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 10px;
  
}

.message-hour {
  color: var(--dark-gray);
  font-size: 0.7rem;
}
.message-user{
  font-size: 0.7rem;

}
.userMessage  .message-user {
  
  display: flex;
  justify-content: end;
}
